:root   {
    --color-one: #00204a;
    --color-two: #005792;
    --color-three: #00bbf0;
    --color-four: #fdb44b;
    
}

#root, body {
    margin: 0;
    padding: 0;
}

#app_wrapper    {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#app_head   {
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    position: sticky;
    z-index: 1;
    background-color: var(--color-four);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#main_view  {
    position: relative;
}

.home_page_section {
    min-height: 250px;
}

#app_foot   {
    background-color: var(--color-one);
    position: inherit;
    margin-top: auto;
    margin-bottom: 0;
}


#navbar {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

#main_page_nav  {
    text-align: center;
    margin-right: 5rem;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: auto;
    margin-bottom: auto;
}

.main_nav_link  {
    text-decoration: none;
    margin-right: 1.2rem;
    text-transform: uppercase;
    line-height: 25px;
    color: white;
}

.main_nav_link:hover    {
    text-decoration: none;
    color: var(--color-two)
}

.main_nav_link:active   {
    color: white;
}


#copyright  {
    color: white;
    font-size: 1.2rem;
    letter-spacing: 2px;
    margin-left: 15px;
}

